<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UsuarioController</servlet-name>
        <servlet-class>controlador.UsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CiudadanoController</servlet-name>
        <servlet-class>controlador.CiudadanoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneralController</servlet-name>
        <servlet-class>controlador.GeneralController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministradorController</servlet-name>
        <servlet-class>controlador.AdministradorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TemaController</servlet-name>
        <servlet-class>controlador.TemaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Respuestas</servlet-name>
        <servlet-class>controlador.RespuestasController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteController</servlet-name>
        <servlet-class>controlador.ReporteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioController</servlet-name>
        <url-pattern>/usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CiudadanoController</servlet-name>
        <url-pattern>/ciudadano</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneralController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministradorController</servlet-name>
        <url-pattern>/administrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TemaController</servlet-name>
        <url-pattern>/tema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Respuestas</servlet-name>
        <url-pattern>/respuesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteController</servlet-name>
        <url-pattern>/reporte</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
